body {
	background-color: #777
}

header, nav, footer {
	text-align: center;
	background-color: #ebebeb
	text-color: #777;
	width: 960px;
	padding:50px;
	border: 10px;
}

section {
	float:left;
	width: 600px;
	background-color: #ebebeb
	padding: 50px;
	border:10px;
	text-align: center;

}

aside {
	float: right;
	width: 360px;
	text-align: center;
	padding: 50px;
	border: 10px;
}

article {
	clear: left;
	text-decoration-color: #ebebeb
	background-color: #777;
}

text {
	font-style: Arial, Helvetica;
	size: 18px;
}